<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen" />
    <link rel="stylesheet" href="/css/perfectWidth/style.css">
    <link rel="stylesheet" href="/js/sidr-package-1.1.1/stylesheets/jquery.sidr.dark.css">
    <link rel="stylesheet" href="/css/demo_table.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/sidr-package-1.1.1/jquery.sidr.min.js" type="text/javascript"></script>
    <script src="/js/dataGrid/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/js/dataGrid/shCore.js" type="text/javascript"></script>
    <script src="/js/sgxmarketsJs/fundamentals.js" type="text/javascript"></script>
    <script src="/js/sgxmarketsJs/announcements.js" type="text/javascript"></script>
    <script src="/js/sgxmarketsJs/scroll.js" type="text/javascript"></script>
     <!-- Chart -->
       <link rel="stylesheet" href="/js/chart/jquery.jqplot.css">
      
     <!-- <script src="/js/chart/jqplot.canvasAxisTickRenderer.js" type="text/javascript"></script>
      <script src="/js/chart/jqplot.canvasTextRenderer.js" type="text/javascript"></script>-->
      <script src="/js/chart/jquery.jqplot.js" type="text/javascript"></script>
      <script src="/js/chart/jqplot.dateAxisRenderer.js" type="text/javascript"></script>
      <script src="/js/sgxmarketsJs/chart.js" type="text/javascript"></script>
   <!-- Main Frame -->

<div id="sidr">
  <h2 align="left">{{ title }}</h2>
  <ul>
    <li>
      {{ stocksDropDown }}
    </li>
    <li class="active"><a id="announcementScroll" href="#">Announcements</a>
      {{ announcements }}
    </li>
    
    <li><a id="fundamentalScroll" href="#">Fundamentals</a></li>
    
    
    <li><a id="chartScroll" href="#">Charts</a></li>
  </ul>
</div>
 
<script>


function getSelectedText(elementId) {
    var elt = document.getElementById(elementId);
    if (elt.selectedIndex == -1)
    {
        return null;
    }    
    return elt.options[elt.selectedIndex].text;
}



function callYQL()
{
  symbol = $('#stockDropDown').val();
  //Singapore Symbol has a .SI at the back
  var query = "select * from yahoo.finance.quote where symbol in ('"+symbol+".SI')";
  fundamentals(query);
 
}


$(document).ready(function() {
  $('#simple-menu').sidr();
  
});

$(document).ready(function() {
  var aTable = $('#announcementTable').dataTable();
  aTable.fnSetColumnVis( 0,false );
  
  announcements();
  
} );


</script>
  </head>  
                                                                                   
  <body>
   <h1 id="Announcements">Latest Announcements</h1>
   <br/><br/>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="announcementTable" width="100%">
  	<thead>
  		<tr>
        <th>Key</th>
  			<th>Time</th>
  			<th>Company</th>
  			<th>Type</th>
  			<th>Title</th>
  		</tr>
  	</thead>
 </table>
  <br/><br/><br/>
  <h1 id="Fundamentals">Fundamentals</h1>
  <br/><br/>
  <div id="FundamentalContents"></div>
  
  <br/><br/><br/>
  <h1 id="Chart">Chart</h1>
  <br/><br/>
  <div id="chart1"></div>
 
  <div id ="header">
    <a id="simple-menu" href="#sidr" style="position:fixed; right:0px; top:0px;">
      <img src="/css/perfectWidth/arrow.png" alt="Toggle Side Bar"/>
    </a>
  </div>
  
  </body>
</html>
